.product-main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6rem;
    padding: 2rem;
    color: white;
}
.item-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0.3rem 0;
}

.item-container:hover {
    border: 1px solid rgb(183, 214, 255);
    border-radius: 23px;
}



.details-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.product-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    justify-content:first baseline;
}

.info-container .item-details-link {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    margin: 0;
}

.info-container .description {
    margin: 0;
}

.info-container .price {
    font-size: 1.5rem;
    margin: 10px 0;
}

.pagination {
    display: flex;
    padding: 1rem;
}

.pagination .load-more-button {
    margin: 0 1rem 0 auto;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(255, 115, 0);
    cursor: pointer;
}