.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 4rem auto;
    border-radius: 1rem;
    padding: 0.3rem;
    overflow: hidden;
    color: white;
}

.slider-container h1 {
    font-size: 3rem;
    margin: 0;
}

.slick-slide img {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.slick-slider {
    width: 100%;
}

.slider-container {
    width: 90%;
    margin: 5rem auto;
    height: fit-content;
}

.content-container {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    color: white;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

.bg-img {
    width: 100%;
    height: 98.4%;
    z-index: -1;
    position: absolute;
    pointer-events: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text-content {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 1rem;
    padding: 2rem 5rem 1rem 2rem;
    text-wrap: wrap;
}

.text-content h2 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: rgb(248, 142, 72);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.text-content p {
    margin: 0;
}