.admin-navbar-main-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100vh;
    margin: 0.2rem 0.5rem 0.2rem 0.5rem;
    padding: 0 3.5rem 0 0;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.603);
    backdrop-filter: blur(10px);
    font-size: 1rem;
}

.admin-navbar-main-container ul {
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
}

.admin-navbar-main-container ul li {
    list-style: none;
    padding: 3px 7px;
    margin: 0.3rem 0 0 0;
}

.admin-navbar-main-container ul li a {
    color: white;
    text-decoration: none;
}

.admin-navbar-main-container ul li a:hover {
    font-size: 1.02rem;
    color: rgb(0, 110, 255);
}